{% extends 'base.html' %}

{% block title %}
Про мене
{% endblock %}

{% block body %}
<div class="wrapper_padding"></div>
<div class=question_answer_container background-color: #cfb79b>
    <h2>1) Моя освіта:</h2>
        <ul> 
            <li>НПУ ім.  Драгоманова, Клінічна психологія, Факультет спеціальної психології та медицини.</li> 
            <li>Позитивна психіатрія і ментальне здоров’я - курс в Університеті Сіднею.</li>
            <li>Шизофренія - курс в Єльському Університеті.</li>
            <li>Школа Психоаналізу у Міжнародному Інституті Глибинної Психології.</li>
            <li>Курси дитячої арт-терапії.</li>
            <li>Більше року особистої терапії.</li>
        </ul>
</div>
<div class=question_answer_container > 
    <h2>2) Консультація</h2>
        <ul> 
            <li> Тривалість консультації: 1 год</li>
            <li>Разові консультації, робота із запитом （кілька консультацій）, тривала терапія.</li>
            <li>Перша консультація безкоштовна （20 хвилин）</li>
            <li>100% приватність</li>
        </ul>
</div>
<div class=question_answer_container >
    <h2>3）Контакти： </h2>
        <ul>
            <li>+380 68 113 2976</li>
            <li> annaostapenkowork@gmail.com</li>
            <li> Мій блог（Instagram ） ：lavanderbounty</li>
        </ul>
</div>
<div class=question_answer_container >
    <h2>4) Ви можете звертатися до мене з запитами:</h2>
        <ul>
            <li> Психодіагностика вашого стану</li>
            <li> Питання самооцінки</li>
            <li> Психологія харчування, зайвої ваги</li>
            <li> Відносини</li>
            <li> Сепарація</li>
            <li> Страхи</li>
            <li> Особисті кордони</li>
            <li> Трикутник Карпмана</li>
            <li> Бажання, цілі</li>
            <li> Пошук покликання</li>
            <li>Інше</li>
        </ul>
</div>
<div class=question_answer_container >
    <h2>Чому онлайн консультація?</h2>
    <ul>
        <li>Зручність.Працюєте у зручному для вас місці. </li>
        <li>Менші витрати часу. Вам не потрібно витрачати час на дорогу до кабінету психолога та дорогу додому.</li>
        <li>Психологічно безпечне для вас місце.У своєму домі ви можете відчувати себе комфортніше та впевненіше, ніж у незнайомому місці.</li>
        <li>Мобільність. Можете продовжувати відвідувати психологічні консультації під час подорожей, відпусток, відряджень, переїзду в інше місто.</li>
    </ul>
</div>
<div class=question_answer_container >
    <h2>Як потрапити на консультацію?</h2>
    <ul>
        <li>Телефонуйте на номер, вказаний у контактах або пишіть у дірект в інстаграмі.</li>
        <li>Ми обираємо зручний для вас час.</li>
        <li>Проводимо безкоштовну консультацію-знайомство, де формулюємо ваш запит для подальшої роботи з ним (20) хвилин.</li>
        <li>Оплата першої консультації, призначення її дати та часу проведення.</li>
        <li>Я відправляю вам посилання для проведення консультації.</li>
        <li>Ви переходите по відправленому посиланню.</li>
        <li>Вітаю, ви на консультації! </li>
    </ul>
</div>
<div class=question_answer_container >
    <h2>Які правила відвідування консультацій?</h2>
    <ul>
        <li>Якщо ви затримуєтесь - попередьте про це за годину до початку консультації. Ваша консультація має фіксований час, і якщо ви запізнились на 15 хвилин, у вас залишилось 45 хвилин, якщо на 20, то залишилось 40, тому що після вас можуть бути інші клієнти. </li>
        <li>Якщо ви не можете прийти на консультацію, попередьте про це за день до консультації, у цьому разі гроші вам повертаються. У разі, якщо ви повідомили пізніше або не повідомили, гроші не повертаються. Виключенням є надзвичайні ситуації або непередбачувані обставини.</li>
        <li>Заборонено приходити на консультації у стані наркотичного або алкогольного сп’яніння, зневажлива поведінка.</li>
        <li>Прийом неповнолітніх осіб здійснюється з дозволу батьків.</li>
    </ul>
</div>
<div class=question_answer_container >
    <h2>Симптоми, які є приводом записатися на прийом психотерапевта:</h2>
    <ul>
        <li>Думки про самогубство.</li>
        <li>Зміни в характері: нетовариськість, втрата інтересу до справ, замкнутість.</li>
        <li>Бажання шкодити собі або сліди на тілі (порізи, опіки, подряпини).
        </li>
        <li>Зміни самовпевненості, установка на провал.</li>
        <li>Поява або почастішання нав’язливих дій.</li>
        <li>Незрозумілі, дивні відчуття в тілі.</li>
        <li>Панічні атаки.</li>
        <li>Дратівливість і агресія.</li>
        <li>Несподівані емоційні реакції: смуток у відповідь на питання про справи, сльозливість під час перегляду комедії.</li>
        <li>Перепади настрою.</li>
        <li>Нестабільний апетит.</li>
        <li>Втома, сонливість, апатія.</li>
        <li>Порушення сну: постійна сонливість, незадовільна якість сну або безсоння.</li>
        <li>Труднощі з концентрацією.</li>
        <li>Небажання рухатися.</li>
    </ul>

{% endblock %}

{% block home_1 %}

<li class="go_home"><a href="{{ url_for('welcome') }}">Головна</a></li>

{% endblock %}