{% extends 'base.html' %}

{% block title %}
Мої дописи
{% endblock %}s

{% block body %}
<img class="pic_2" src="/static/p1.jpg" alt="pic_1">
<div class=question_answer_container > 
    <h2>Типи сімейних стосунків</h2>
    <h3>Сьогодні хочу розповісти про типи сімейних стосунків, що призводять до проблем у психологічному розвитку дитини. Це допоможе вам подивитися з боку на стосунки з сім'єю, можна побачити свої риси і зрозуміти з чого почати на шляху до своєї цілісності.</h3>    
    <ul>
        <li>1) Максимальне задоволення потреби дитини, дитина - кумир
            ➡️ Приводить до демонстративних і навіть трохи істеричних рис характеру.
            </li>
        <li>2) Дитина в центрі уваги, але батьки не дають самостійності, багато обмежень ➡️ вибухові висловлювання емоцій （це називається ще афективними реакціями） , або, навпаки, хронічна втома та тривожність у дітей з різними типами нервової системи.</li>
        <li>3）Підвищена моральна відповідальність （великі вимоги від дитини ）➡️ тривожні діти, як правило без ресурсу для досягнення мети та щасливого життя, тому що вимоги без отримання ресурсу не дають змогу його накопичити.</li>
        <li>4) Емоційне відторгнення （сюди ще можуть входити постійні покарання, побої （фізичні чи моральні ））. Таке відбувається, якщо дитина асоціюється у батьків з якимось негативним моментом життя або людиною.</li>
        <li>5) Протилежний 2му пункту, батьки не контролюють дитину, не виявляють інтересу до успіхів, дають максимальну самостійність ➡️ Нестабільна особистість, з відсутніми емоційними бар'єрами. Таке часто трапляється у сім'ях, де багато дітей, і батьки фізично не справляються з контролем за кожним.</li>
    </ul>
</div>
<img class="pic_2" src="/static/p2.jpg" alt="pic_1">
<div class=question_answer_container > 
    <h2>Способи, якими користуються люди для втечі від своїх почуттів (що, звичайно, дуже шкодить):</h2>
    <ul>
        <li>зведення ситуації до мінімуму ("Це не має значення");</li>
        <li>Прагнення вдати, що нічого не відбувається (“Ні, цього не може бути”);</li>
        <li>Звичка приховувати свої почуття ("Мені насправді байдуже");</li>
        <li>придушення своїх почуттів (шляхом сну, займаючись чимось в голові, більше працюючи або використовуючи інші види вимушеної поведінки); </li>
        <li>схильність штучно викликати у себе ейфорію (наркотиками, алкоголем, переїданням чи іншими видами залежності).</li>
    </ul>
</div>
<img class="pic_2" src="/static/p3.jpg" alt="pic_1">
<div class=question_answer_container > 
    <h2>Психологія прикрас 💍🎩</h2>
    <h3>Ще дуже давно люди любили прикрашати себе і особливо це стосувалося жінок. Цікаво помітити, наскільки сильно відрізнялися прикраси у багатьох народів, але часто вони свідчили щось схоже.
        Думаю, багато хто помічав, що є люди, які прикрашають себе і є ті, які немає. Другим випадком може бути жінка, яка повністю перенесла цей імпульс у домашні справи, і, швидше за все, ви помітите, наскільки прикрашений її будинок або квартира в контрасті з нею. Що цікаво, буває і інакше в нерівномірному розподілі: людина одягається і прикрашає себе надмірно ретельно, навіть певною мірою ідеально, але вдома або в кімнаті у нього панує хаос.
        В якому разі прикрас зовсім не буде? Швидше за все, це буде людина, вкрай ображена або злякана протилежною статтю настільки, що не буде бажати привертати зайву увагу. Але, що цікаво, у моменти закоханості на цій людині проскакуватимуть різного виду речі, що вказують на його інтерес до свого зовнішнього вигляду. Також це може бути педантка/педант з непохитними і чіткими принципами, що не терпить нічого зайвого у своєму одязі та й втім життя. Ще можливі варіанти, коли стиль життя людини вимагає відсутність прикрас і вони з'являються у святкові дні (спортсмени, представники небезпечних професій, іноді - лікарі, церковні службовці).
        Цікаво подивитися, як відрізняються самі прикраси між собою. Швидше за все маленькі, витончені, зроблені з особливою копіткістю прикраси носитимуть люди, яким не вистачає в житті дбайливого та акуратного ставлення до них. У жінок або чоловіків із життям, насиченим різними проблемами та обставинами, часто можна помітити вкрай мініатюрний хрестик.
        Великі яскраві прикраси, що логічно, можна зустріти у людей, які люблять виділяти себе. Тут можна звернути увагу на те, що саме хоче виділити в собі людина (незвичайність, хитромудрість прикраси - посил "я неповторний", явно цінне прикраса - "я володію великими грошима", прикраси, які як або показують досягнення людини (медалі, які- або іменні підвіски）- посил “я значний, я маю владу”）.</h3>

        {% endblock %}

{% block home_1 %}
<li class="go_home"><a href="{{ url_for('welcome') }}">Головна</a></li>
{% endblock %}