{% extends 'base.html' %}

{% block title %}
Головна сторінка
{% endblock %}

{% block body %}
<img class="pic_1" src="/static/photo_2022-06-09_15-00-45 (3).jpg" alt="pic_1">
<h1 class="h1_style">Анна Остапенко</h1>
<div class="welcome_psy_1">ПРАКТИКУЮЧИЙ ПСИХОЛОГ</div>
<div class="welcome_phrase_title">Моє завдання як психолога -</div>
  <div class="welcome_phrase">
  допомогти вам у вирішенні проблем особистого характеру. Зі мною ви можете ділитись тим, про що не можете поговорити з
  друзями чи близькими, і бути впевненими у конфіденційності сказаного і у майбутньому вирішенні вашої проблеми. Я навчу
  вас краще розуміти себе, разом з вами ми знайдемо шляхи поліпшення якості вашого життя і міжособистих відносин.
  </div>
{% endblock %}